




.html{
    background-color: rgb(191, 226, 217);
}

.pageContainer{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
    width: 100vw;
    display: flex;
    margin: 0 auto;
    font-size: 48px;
    margin-bottom: 75px;
}

.tabsContainer{
    background-color: green;
    width: 100%;
    display: table;
    font-weight: bolder;
    &:hover{
        cursor: pointer;
    }
}

.tabs{
    display: table-row;
    background-color: blue;

}

.aboutMeTab{
    display: table-cell;
}

.myWorkTab{
    display: table-cell;
}
.natureImage{
    height: auto;
    width: 100vw;
    margin-top: 10px;
}